---
---

:root{
}

body>header{
    padding-top: 5rem;
    border-bottom: 0;
    background: var(--bg);
}

header div{
    border-radius: 50%;
    background-image: url(" {{ "assets/duck.jpg" | absolute_url }}");
    background-size: cover;
    height: 6em;
    width: 6em;
    display: inline-block;
}

h1{ text-align: center; }
